@using Movies.Frontend.Models.DataTransferObjects
@model IEnumerable<MovieDto>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-danger">Movies</h2>
        <a asp-action="MovieCreate" class="btn btn-primary">Add Movie</a>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Release Date</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Id</td>
                    <td>@movie.Title</td>
                    <td>@(movie.Description ?? "N/A")</td>
                    <td>@(movie.ReleaseDate?.ToString("dd-MM-yyyy") ?? "N/A")</td>
                    <td>@(movie.Genre?.ToString() ?? "N/A")</td>
                    <td>
                        <a asp-action="MovieDetails" asp-route-id="@movie.Id" class="btn btn-sm btn-info me-2">Details <i class="bi bi-book"></i></a>
                        <a asp-action="MovieEdit" asp-route-id="@movie.Id" class="btn btn-sm btn-warning me-2">Edit <i class="bi bi-pencil-fill"></i></a>
                        <a asp-action="MovieDelete" asp-route-id="@movie.Id" class="btn btn-sm btn-danger">Delete  <i class="bi bi-trash3-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
